@import "../styles/colors";

.button {
  color: $primary-color;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $primary-color-yellow;
    background-color: #ececec;
  }
}
