.postCardWrapper {
  display: flex;
  width: 500px;
  justify-content: center;
  margin-top: 50px;
}

.postCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 100%;
}

.postTitle {
  margin-top: 15px;
  font-size: 24px;
  color: #333;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.postText {
  font-size: 16px;
  color: #666;
}
